# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Build / logs
build/
dist/
*.log

# Data / outputs
data/
outputs/
*.zip
*.tar
*.tar.gz

# Model checkpoints
*.pt
*.pth
*.ckpt
*.onnx
